.navbar {
    z-index: 6;
    overflow: hidden;
    background-color: #262626;
    font-family: Arial;
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0%;
   left: 0%;
}

#logo{
    top: 8px;
    left: 8px;
    position: absolute;
    z-index: 7;
    width: 52px;
    height: 40px;
}

.head3 {
    position: absolute;
    top: -3px;
    left: 6%;
    font-family: Arial;
    z-index: 7;
    color: white;
}

#drop1 {
    position: absolute;
    top: 4px;
    left: 55%;
    float: right;
    overflow: hidden;
    border-radius: 16px;
}

#drop2 {
    position: absolute;
    top: 4px;
    left: 62%;
    float: right;
    overflow: hidden;
    border-radius: 16px;
}

#drop3 {
    position: absolute;
    top: 4px;
    left: 48%;
    float: right;
    overflow: hidden;
    border-radius: 16px;
}

#drop4 {
    position: absolute;
    top: 4px;
    left: 72%;
    float: right;
    overflow: hidden;
    border-radius: 16px;
}

#drop5 {
    position: absolute;
    top: 4px;
    left: 82%;
    float: right;
    overflow: hidden;
    border-radius: 16px;
}

#drop6 {
    position: absolute;
    top: 5px;
    padding-top: 13px;
    left: 88.5%;
    height: 30px;
    text-align: center;
    float: right;
    overflow: hidden;
    border-radius: 16px;
}

#title{
    font-family: arial;
    position: absolute;
    top: -79px;
}

#overde1{
    font-family: arial;
    position: absolute;
    top: 10px;
}

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
}

.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

.carousel-caption1 {
    position: absolute;
    top: 400px;
    color: black;
    font-family: arial;
    font-size: 26px;
    width: 700px;
    left: 04%;
    z-index: 1;
    text-shadow: 0px 0px #262626;
}

#overhe1{
    position: absolute;
    top: 380px;
    left: 1.6%;
    font-family: arial;
    font-size: 29px;
    color: #262626;
    text-shadow: 2px 4px 2px lightgray;
}

#overde2{
    position: absolute;
    top: 450px;
    left: 1.6%;
    font-family: arial;
    font-size: 26px;
    color: #262626;
    width: 599px;
    text-shadow: 2px 4px 2px lightgray;
}

#overhe2{
    position: absolute;
    top: 380px;
    left: 1.6%;
    font-family: arial;
    font-size: 29px;
    color: white;
    text-shadow: 2px 2px #262626;
    z-index: 6;
}

#overde3{
    position: absolute;
    top: 450px;
    left: 1.6%;
    font-family: arial;
    font-size: 26px;
    color: white;
    text-shadow: 2px 2px 2px #262626;
}

#overhe3{
    position: absolute;
    height: 40px;
    width: 270px;
    top: 360px;
    left: 2.4%;
    z-index: 7;
    font-family: arial;
    font-size: 29px;
    color: white;
    text-shadow: 2px 2px #262626;
}

#overde4{
    position: absolute;
    top: 450px;
    left: 2.4%;
    font-family: arial;
    font-size: 26px;
    color: white;
    text-shadow: 2px 2px 2px #262626;
}

#img2{
    height: 100%;
    width: 101.1%;
    top: 0px;
    position: absolute;
    margin-bottom: -0.5%;
    left: -1px;
}

#img3{
    height: 105%;
    width: 101.1%;
    top: 0px;
    position: absolute;
    margin-bottom: -0.5%;
    left: -.9%;
}

#img4{
    height: 100%;
    width: 101.1%;
    top: 0px;
    background: lightgray;
    position: absolute;
    margin-bottom: -0.5%;
    left: -.9%;
}

#img5{
    height: 100.5%;
    width: 101.1%;
    top: 0px;
    background: lightgray;
    position: absolute;
    margin-bottom: 1%;
    left: -.9%;
}

#btn2 {
    position: absolute;
    top: 570px;
    left: 3%;
    background-color: inherit;
    border: 3px solid;
    color: #262626;
    height: 54px;
    font-size: 20px;
    width: 156px;
    cursor: pointer;
    box-shadow: 0px 10px 16px 0px rgba(26,26,26,0.5);
}

#btn3 {
    cursor: pointer;
    position: absolute;
    top: 527px;
    left: 2.5%;
    background-color: inherit;
    border: 3px solid;
    color: white;
    height: 55px;
    width: 150px;
    font-size: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.5);
}

#btn4 {
    cursor: pointer;
    position: absolute;
    top: 470px;
    left: 18%;
    background-color: inherit;
    border: 3px solid;
    color: white;
    height: 52px;
    width: 160px;
    font-size: 24px;
}

#contactus{
    background: #262623;
    width: 100%;
    height: 42%;
    position: absolute;
    bottom: 0%;
    z-index: 4;
}

#follow{
    color: white;
    font-family: arial;
    font-size: 20px;
    left: 30%;
    position:absolute;
}

#reach{
    font-family: arial;
    font-size: 20px;
    position: absolute;
    left: 60%;
    top: -1px;
    color:white;
}

#info{
    font-family: arial;
    font-size: 20px;
    position: absolute;
    left: 60%;
    width: 30%;
    top: 40px;
    color: white;
}

.fa-facebook{
    color: white;
    top: 36%;
    left: 30%;
    position: absolute; 
}

.fa-linkedin{
    color: white;
    top: 52%;
    left: 30%;
    position: absolute; 
}

.fa-twitter{
    color: white;
    top: 70%;
    left: 30%;
    position: absolute; 
}

.dropdown-content {
    position: absolute;
    display: none;
    color: white;
    background: black;
    top: -350px;
    left: 108%;
    width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
}

.dropdown-content .ilink1, .ilink2, .ilink3{
    color: white;
    font-size: 14px;
    padding: 14px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content .ilink1:hover {
    background-color: white;
    color: black
}
.dropdown-content .ilink2:hover {
    background-color: white;
    color: black;
}
.dropdown-content .ilink3:hover {
    background-color: white;
    color: black;
}

#init:hover .dropdown-content {
    display: block;
}
